{lib_dirs,["deps"]}.
{src_dirs, ["src", "test"]}.
{excl_archive_filters, [".*"]}.
{cover_enabled, true}.
{erl_opts, [debug_info, fail_on_warning]}.

{post_hooks, [{compile, "cp ./src/sys.config ./ebin/sys.config"}]}.

{deps,
 [{lfe,   {git, "git://github.com/rvirding/lfe.git", {tag, "0.10.1"}}},
  {lutil, {git, "git://github.com/lfex/lutil.git", {tag, "0.7.0"}}},
  {ltest, {git, "git://github.com/lfex/ltest.git", {tag, "0.7.0"}}}]}.

{plugins,
 [{'lfe-compile', {git, "https://github.com/lfe-rebar3/compile.git", {tag, "0.2.1"}}}]}.

{provider_hooks, [{pre, [{compile, {lfe, compile}}]}]}.
